* {
  box-sizing: border-box;
}
.content {
  flex-direction: column;
  width: 360px;
}

.textBox {
  height: 181px;
  border: 4px solid #000000;
  padding: 16px;
  margin: 16px;
}

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #a7a7a7;
}

.dateBox {
  border: 4px solid #000000;
  padding: 16px;
  margin: 16px;
}

.timeBox {
  border: 4px solid #000000;
  padding: 16px;
  margin: 16px;
}

.create {
  background: #b8b8b8;
  border: 4px solid #000000;
  padding: 16px;
  margin: 16px;
}

.create:hover {
  background: #000000;
}

.buttonCreateName {
  font-size: 36px;
  color: #ffffff;
}
