* {
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 32px;
}

.text {
  overflow:hidden;
  position: fixed;
  padding-right: 32px;
  top: 48px;
  left: 32px;
  max-width: 100vh;
  max-height: 19%;
  word-break: break-all;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.deltaTimeWrapper {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #000000;
}

.deltaTime {
  padding-left: 0;
}
